.listItem{
    width: 100%;
    margin: 12px;
}
.listItemContent{
    width: 100%;
    background-color: #eeeeee;
    padding:8px;
}
button{
    background-color: white;
    color: black;
    float: right;
}