<mat-card class="loginCard">
  <mat-toolbar class="centerText">
      <span class='spacer'></span>
      Login
      <span class='spacer'></span>
  </mat-toolbar>
  <mat-card-content>
    <br>

    <mat-form-field >
      <input matInput placeholder="Username" [(ngModel)]="loginCredentials.username">
    </mat-form-field>
    <br>
  
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="loginCredentials.password">
    </mat-form-field>

    <br>
    <button class='headerButton' color='link' mat-raised-button (click)="login()">Login</button>
  </mat-card-content>
</mat-card>
