<mat-card class="loginCard">
  <mat-toolbar class="centerText">
      <span class='spacer'></span>
      Login
      <span class='spacer'></span>
  </mat-toolbar>
  <mat-card-content>
    <form name="Form">
      <form class="form">
        <br>

        <mat-form-field >
          <input matInput placeholder="Username">
        </mat-form-field>
        <br>
      
        <mat-form-field>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>

        <br>
        <button class='headerButton' color='link' mat-raised-button>Login</button>

      </form>
    </form>
  </mat-card-content>
</mat-card>
