<mat-grid-list [cols]=3 [rowHeight]="200">
<mat-grid-tile *ngFor="let item of items | async">
        
        <mat-card>
                <h3>{{item.name}}</h3>
                <span class="price"><span class="dollars">{{item.price_in_cents | centsToDollars}}</span> / {{item.total_package_units}}</span>
                <span *ngIf="item.hasBeenViewed" class="bottomLeft">Viewed</span>
                <div>
                        <img src={{item.image_thumb_url}} (click)="viewProduct(item)">
                </div>
        </mat-card>
</mat-grid-tile>
</mat-grid-list>
